# Python
__pycache__/
*.py[cod]
*.pkl
*.joblib

# Streamlit cache
.streamlit/

# Environment
.env
.venv/
venv/
env/

# Jupyter Notebook Checkpoints (if used)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
